:root {
  --primary-color: #3498db; /* Cor primária para botões e links */
  --hover-color: #2980b9; /* Cor de hover para botões e links */
  --border-color: #e1e1e1; /* Cor de borda para cards e inputs */
  --text-color: #333; /* Cor de texto principal */
  --background-color: #f9f9f9; /* Cor de fundo para o corpo da página */
}